.gameHeaderBackground{
  background-image: url("src/img/chadgameb.png");
  width: 50%;
  height: 50%;
  background-color: black;
}
.gameBack{
  background-color: maroon;
  text-align: center;
  height: 100%;
  color: white;
}
