.maroon {
  background-color: maroon;
}
.black {
  background-color: black;
}
.gameheader{
  width: 1450px;;
}
.appheader {
  
}
.searchstyle {
  text-align: center;
}
.backButt{
  margin-right: 100px;
}